{% extends 'base.html' %}

{% block user %}<a class="fatear-text" href="/profile">{{ user }}</a>{% endblock %}

{% block content %}
    <div class="main">
        <form action="/loginAuth" method="POST">
            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
            {% endif %}
            <input type="text" name = "username" placeholder="username" required/> </br>
            <input type="password" name = "password" placeholder="password" required/></br>
            <input type="submit" value = Login />
        </form>
    </div>
{% endblock %}
